<div class="introduction">
    <figure class="headshot">
        <img src="{{ entry.introductionImage.one().url() }}" alt="" width="756" height="756" />
    </figure>
    <div class="text">
        {{ entry.introduction}}
    </div>
</div>