{% set styles = {
  'background-color': entry.backgroundColor,
  'color': entry.textColor,
} | filter %}

{% set css = styles | map((s, p) => "#{p}: #{s};") | join %}

<aside class="group-block my-8">
  <div class="rounded bg-slate-100 p-8" style="{{ css }}">
    {{ entry.postContent }}
  </div>
</aside>
