{% set global = craft.entries.section('global').one() %}
{% set pageTitle = pageTitle ?? entry.title ?? siteName %}

<!DOCTYPE html>
<html lang="en">
	{% include "_partials/_head" %}

<body {% if entry.type == 'post' %}class="single-post"{% elseif entry.type == 'note' %}class="post-type-archive-notes"{% else %}class="page-template-default"{% endif %}>

  {% include "_partials/j-header" %}

<main {% if entry.type == 'note' %} class="single-note"{% endif %}>
	{% if entry.type == 'note'%}
	{% else %}
    <div class="post-content">
	{% endif %}

    {% if entry.type == 'post' %}
        <article class="post">
	{% elseif entry.type == 'note' %}
        <article class="notes-card">
    {% endif %}
            {% block content %}{% endblock %}
    {% if entry.type == 'post' %}
        </article>
    {% endif %}
	{% if entry.type == 'note'%}
	{% else %}
    </div>
	{% endif %}
  </main>

  {% include "_partials/footer" %}

</body>
</html>