{% set global = craft.entries.section('global').one() %}
{% set pageTitle = pageTitle ?? entry.title ?? siteName %}

<!DOCTYPE html>
<html lang="en">
{% include "_partials/_head" %}

<body class="home">

  {% include "_partials/j-header" %}

  <main>
    {% include "_partials/_introduction" %}
    {% include "_partials/_post-listing" with {
        limit: 9,
    }%}
	{% include "_partials/_note-listing" %}
  </main>

  {% include "_partials/footer" %}

</body>
</html>


